<!DOCTYPE html>
<html ng-app="funtodoApp">
  <head>
    <link rel="stylesheet" type="text/css" href="funchat.css">
    <title>Funchat</title>
  </head>
  <body>
    <div ng-controller="FunchatCtrl">
      <h1>Funchat</h1>

      <input placeholder="Author" type="text" ng-model="author"/> <br />
      <input placeholder="Message" type="text" ng-model="message"/> <br />
      <button ng-click="addMessage(author, message)">Send</button>

      <p>Sent messages: {{messageCounter}}</p>

      <h3 class="note" ng-show="note">{{note}}</h3>

      <ul>
        <li ng-repeat="message in messages">{{$index}} {{message.created | date:'short' }}
          <span ng-show="message._id !== editId">{{message.author}}: {{message.content}}</span>
          <span ng-show="message._id === editId"><input type="text" ng-model="message.author"/><input type="text" ng-model="message.content"/></span>
          <button ng-show="message._id !== editId" ng-click="editMessage(message)">Edit</button>
          <button ng-show="message._id === editId" ng-click="updateMessage(message)">Update</button>
          <button ng-click="removeMessage(message._id)">Remove</button>
        </li>
      </ul>

      
    </div>
    
    <script src="angular.js"></script>
    <script src="angular-resource.js"></script>
    <script src="funchat.js"></script>
  </body>
</html>
